<html>
    <body>
        <div class="header">
            <div class="header-hospital-name">{{ admission.discharged_bed.ward.hospital.name }}</div>
            <div class="header-hospital-address">{{ admission.discharged_bed.ward.hospital.address }}</div>
            <div class="header-hospital-phone">{{ admission.discharged_bed.ward.hospital.phone_no }}</div>
        </div>
        <h1>Discharge Summary</h1>
        <div class="subtitle">{{ admission.personnel.department.name }}</div>
        <div class="info">(Please bring this discharge summary whenever you come for consultation.)</div>
        <table>
            <tr>
                <td class="label">Name</td>
                <td>{{ admission.patient.name }}</td>
                <td class="label">Age/Sex</td>
                <td>{{ admission.patient.age|format_duration_verbose }} / {{ admission.patient.sex }}</td>
            </tr>
            <tr>
                <td class="label">NIC No.</td>
                <td>{{ admission.patient.national_id_no }}</td>
                <td class="label">Hosp. No.</td>
                <td>{{ admission.patient.hospital_no }}</td>
            </tr>
            <tr>
                <td class="label">Address</td>
                <td colspan="2">{{ admission.patient.permanent_address.one_line }}</td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td class="label">Ward</td>
                <td>{{ admission.discharged_bed.name }}</td>
                <td class="label-wide">Date of Admission</td>
                <td>{{ admission.start_time|formate_date }}</td>
                <td class="label-wide">Date of Discharge</td>
                <td>{{ admission.end_time|formate_date }}</td>
            </tr>
        </table>
        <hr>

        <div class="section-container">
            <div class="section-label">
                Diagnosis
            </div>
            <div class="section-content">
                {% for problem in admission.problems %}
                    <p>
                        <b>{{ problem.icd10class_code }}</b>
                        -
                        {{ problem.icd10class.preferred_plain }}
                        {% if problem.icd10modifier_class  %}
                            , (
                                {{ problem.icd10modifier_class.code_short }} - 
                                {{ problem.icd10modifier_class.preferred }}
                            )
                        {% endif %}
                        {% if problem.icd10modifier_extra_class  %}
                            , (
                                {{ problem.icd10modifier_extra_class.code_short }} - 
                                {{ problem.icd10modifier_extra_class.preferred }}
                            )
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>

        <div class="section-container">
            <div class="section-label">
                History
            </div>
            <div class="section-content">
                {% if admission.history %}
                        <p>{{ admission.history }}</p>
                    {% endif %}
                {% if admission.past_history %}
                    <p>{{ admission.past_history }}</p>
                {% endif %}
            </div>
        </div>

        <div class="section-container">
            <div class="section-label">
                Examination
            </div>
            <div class="section-content">
                {% if admission.general_inspection %}
                        <p><b>General Inspection: </b>{{ admission.general_inspection }}</p>
                    {% endif %}

                    {% if admission.exam_head %}
                        <p><b>Head: </b>{{ admission.exam_head }}</p>
                    {% endif %}

                    {% if admission.exam_neck %}
                        <p><b>Neck: </b>{{ admission.exam_neck }}</p>
                    {% endif %}

                    {% if admission.exam_chest %}
                        <p><b>Chest: </b>{{ admission.exam_chest }}</p>
                    {% endif %}

                    {% if admission.exam_abdomen %}
                        <p><b>Abdomen: </b>{{ admission.exam_abdomen }}</p>
                    {% endif %}

                    {% if admission.exam_genitalia %}
                        <p><b>Genitalia: </b>{{ admission.exam_genitalia }}</p>
                    {% endif %}

                    {% if admission.exam_pelvic_rectal %}
                        <p><b>Pelvic & Rectal: </b>{{ admission.exam_pelvic_rectal }}</p>
                    {% endif %}

                    {% if admission.exam_extremities %}
                        <p><b>Extremities: </b>{{ admission.exam_extremities }}</p>
                    {% endif %}

                    {% if admission.exam_other %}
                        <p><b>Other: </b>{{ admission.exam_other }}</p>
                {% endif %}
            </div>
        </div>

        <div class="section-container">
            <div class="section-label">
                Investigations
            </div>
            <div class="section-content">
                <p>All Enclosed</p>
            </div>
        </div>

        <div class="section-container">
            <div class="section-label">
                Hospital Course
            </div>
            <div class="section-content">
                <p>{{ admission.hospital_course }}</p>
            </div>
        </div>

        <div class="section-container">
            <div class="section-label">
                Advice at Discharge
            </div>
            <div class="section-content">
                <ol>
                    {% for entry in admission.prescription %}
                        {% if entry.active %}
                            <li>{{ entry.drug.name }} {{ entry.drug_order }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% if admission.discharge_advice %}
                    <p>{{ admission.discharge_advice }}</p>
                {% endif %}
            </div>
        </div>

        <hr>
        <table>
            <tr>
                <td class="signature-label">Admitting Doctor</td>
                <td class="signature">
                    {{ admission.personnel.name }}
                </td>
            </tr>
        </table>
    </body>
</html>