.icd10coder .dialog {
    width: 700px;
}

.icd10coder .category-label {
    display: flex;
}

.icd10coder .category-label .code {
    min-width: 50px;
    font-weight: bold;
}

.icd10coder .category-label .text {
    flex-grow: 1;
}

.icd10coder .main-category {
    /*border-top: solid 1px black;*/
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 1);
}

.icd10coder .category-label .lusion .label {
    flex: 0 0 40px;
    font-style: italic;
    font-weight: bold;
}

.icd10coder .category-label .lusion {
    margin-top: 5px;
}

.icd10coder .category-label .preferred {
    font-weight: bold;
}

.icd10coder .category-label .preferred-long {
    padding-left: 10px;
}

.icd10coder .dialog-body {
    display: flex;
}

.icd10coder .form {
    width: 200px;
}

.icd10coder .category-list {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-bottom: none;
    background-color: var(--white);
    width: calc(100% - 200px);
}

.icd10coder .category-list li {
    cursor: default;
}

.icd10coder .category-list input {
    cursor: pointer;
}

.icd10coder .category-list a {
    cursor: pointer;
}

.icd10coder .form {
    /*min-width: 200px;*/
    padding: 10px;
}

#patient-list {
    background-color: var(--light);
    flex-direction: column;
}

#patient-list input {
    margin: 5px;
}

#patient-list .list-box {
    background-color: var(--light);
    border: none;
    border-radius: 0;
}

#patient-list .patient-label {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#patient-list .patient-label .patient-id-number {
    flex: 0 0 60px;
    padding-right: 5px;
}

#patient-list .patient-label .patient-name {
    flex: 1 1;
    padding-right: 5px;
}

#patient-list .patient-label .patient-age {
    flex: 0 0 45px;
    padding-right: 5px;
}

#patient-list .patient-label .patient-sex {
    flex: 0 0 20px
}

#patient-panel{
    background-color: var(--light);
    border-left: solid 1px var(--border);
}

#patient-panel .container > .spinner-container{
    /*padding: 15px;*/
}

#patient-panel .container {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

#patient-panel .header {
    padding: 15px;
    margin: 15px;
    background-color: var(--gray);
    border-radius: var(--border-radius);
    color: var(--light);
}

#patient-panel .header .number {
    justify-content: space-between;
}

#patient-panel .body {
    margin: 0 15px 15px 15px;
}

#patient-panel .error {
    margin: 0 15px 15px 15px;
    font-style: italic;
    color: grey;
}

#patient-panel .header h1 {
    margin: 0 0 10px 0;
    padding-right: 15px;
    color: var(--light);
}

#patient-panel .header span {
    font-size: larger;
}

li.admission-item .root-item-head {
    padding: 0 0 0 0 !important;
    display: flex;
}

li.admission-item .root-item-head div {
    padding: 5px 15px 5px 15px;
}

li.admission-item .root-item-head div.label {
    font-weight: bold;
}

li.admission-item .root-item-head div.date {
    min-width: 40%;
}

li.admission-item .root-item-head div.duration {

}

li.admission-item .root-item-head div.doctor {
    font-weight: bold;
    min-width: 30%;
}

.main-panel {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu-bar {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 30px;
}

.main-panel-body {
    flex-direction: row;
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
}

.menu-bar-item {
    padding: 5px;
    background-color: var(--dark);
    color: var(--white);
}

button.menu-bar-item {
    margin: 0;
    border-radius: 0;
}

.menu-bar-spacer {
    flex-grow: 1;
    background-color: var(--dark);
    color: var(--white);
}

.side-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    overflow: hidden;
    width: 40px;
}

.main-content {
    width: calc(100% - 40px);
}

.side-bar-item {
    padding: 5px;
    color: var(--gray);
    min-width: 40px;
    min-height: 40px;
}

.side-bar-item:hover {
    color: var(--white);
}

.side-bar-item.selected {
    color: var(--white);
    border-left: solid 3px white;
}

button.side-bar-item {
    margin: 0;
    border-radius: 0;
}


.side-bar-spacer {
    flex-grow: 1;
}


@media only screen and (max-width: 768px) {
    .main-panel-body {
        flex-direction: column;
    }
    .side-bar {
        flex-direction: row;
        height: 30px;
        width: 100%;
    }

    .main-content {
        height: calc(100% - 30px);
        width: 100%;
    }

    .side-bar-item {
        padding: 5px;
        color: var(--gray);
        min-width: 30px;
        min-height: 30px;
    }
    
    .side-bar-item:hover {
        color: var(--white);
    }
    
    .side-bar-item.selected {
        color: var(--black);
        border-left: none;
        background-color: var(--light);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
    
    button.side-bar-item {
        margin: 0;
        border-radius: 0;
    }

    #patient-browser.splitter-row {
        flex-direction: column;
    }

    #patient-list {
        display: flex !important;
    }

    #patient-list.active-pane {
        display: flex !important;
    }

    #patient-list .list-box {
        display: none !important;
    }

    #patient-list.active-pane .list-box {
        display: block !important;
    }

    #patient-panel {
        border: none;
    }

    #patient-panel .container {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    .icd10coder .form {
        width: 100%;
    }

    .icd10coder .form textarea {
        
    }

    .icd10coder .category-list {
        border-right: none;
        border-top: solid 1px var(--border);
        border-bottom: solid 1px var(--border);
        width:  100%;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 576px) {
    #patient-panel .header .number {
        flex-direction: column;
    }
}
