:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --hover: #e9ecefde;
    --border: #343a4032; 
    --a: rgba(0, 0, 0, 0.125);
    --border-radius: 5px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    font-size: 10pt;
    color: var(--dark);
}

body {
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--gray)
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: var(--dark);
}

input,
textarea,
select {
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

input,
select {
    height: 27px;
}

select {
    background-color: white;
    word-wrap: normal;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    
    /* border-color: #80bdff; */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input:read-only,
textarea:read-only {
    border-color: rgba(0, 0, 0, 0);
    cursor: default;
}

select:disabled {
    border-color: rgba(0, 0, 0, 0);
    color: black;
    -webkit-appearance: none;
}

div.locked-text-box {
    padding: 5px;
}
.input-group-row input,
.button-group-row button {
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
    
}

.input-group-row input:focus {
    box-shadow: inset 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group-row > input:last-child,
.input-group-row > div:last-child input,
.button-group-row > button:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.input-group-row > input:first-child,
.input-group-row > div:first-child input,
.button-group-row > button:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

/*
.input-group-row input:only-child,
.input-group-row div:only-child input,
.button-group-row button:only-child {
    border-radius: var(--border-radius);
}*/

button {
    font-family: inherit;
    font-size: inherit;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: var(--border-radius);
    background-color: var(--dark);
    color: var(--light);
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

button.primary {
    background-color: var(--primary);
}


button:focus {
    outline: none;
    /*
    background-color: #343a40d3;
    */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button:disabled {
    background-color: var(--gray);
    color: var(--gray-dark);
}

button:hover {
    background-color: #343a40d3;
}

.dialog-footer button {
    flex-grow: 0.2
}

.popup {
    z-index: 2000;
    position: absolute;
    display: flex;
}

.popup .list-box {
    flex-grow: 1;
}


.splitter-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.splitter-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.resizer:hover {
    background-color: rgba(0, 0, 0, 0.048);
}

.scrolled {
    position: relative;
    overflow-x: none;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: var(--border-radius);
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--border);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}

.search-box {
    display: flex;
}

.search-box input {
    flex-grow: 1;
}

.list-box {
    background-color: white;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    display: flex;
}

.list-box ul {
    flex-direction: column;
    padding: 0;
    margin: unset;
    list-style: none;
}

.list-box li {
    display: flex;
    padding: 5px;
    cursor: pointer;
}

.list-box li:hover {
    background-color: var(--hover);
}

.list-box li.selected {
    background-color: var(--primary);
    color: var(--light);
}

.locked li.selected {
    background-color: grey;
}

.list-box input[type='radio'] {
    padding: 0;
    margin: 0 10px 0 0;
    min-width: 13px;
    min-height: 15px;
    height: 15px;;
}

.list-box li.button {
    color: grey;
    font-style: italic;
}

.list-box div.spinner-container {
    /*padding: 5px;*/
}


.field {
    margin-bottom: 5px;
    display: flex;
}

.field .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.field .input-placeholder {
    display: flex;
    flex-grow: 1;
    border-radius: var(--border-radius);
}

.field select,
.field textarea {
    width: 1px;
}

.field input,
.field select,
.field textarea,
.field .form {
    flex-grow: 1;
}

.field label {
    padding: 5px 10px 5px 0;
    color: var(--gray);
}

.compact .field label {
    padding: 5px 10px 5px 5px;
}

.field .help-text,
.field .invalid-feedback {
    padding: 2px 5px 0 5px;
    font-size: 8pt;
}

.field .invalid-feedback {
    color: var(--red);
    display: none;
}

.field .search-box {
    flex-grow: 1;
}

.invalid > .content > .invalid-feedback {
    display: unset;
}

.invalid > .content > .input-placeholder {
    box-shadow: 0 0 0 0.2rem rgba(255, 8, 0, 0.25);
}


.compact .field {
    margin-bottom: 0;
}

.compact .invalid > .content > .input-placeholder {
    box-shadow: unset;
}

.compact .invalid > .content > .input-placeholder input,
.compact .invalid > .content > .input-placeholder textarea,
.compact .invalid > .content > .input-placeholder select {
    background-color: rgba(255, 8, 0, 0.125);
}

.compact input:focus,
.compact textarea:focus,
.compact select:focus {
    outline: none;
    box-shadow: inset 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.compact .field:first-child input {
    border-top: solid 1px var(--border);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.compact .field input {
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    min-height: 100%;
}

.compact .field:last-child input {
    border-bottom: solid 1px var(--border);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}


.flat-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.flat-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.foreground, .foreground-centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: hidden;
}

.foreground .dialog {
    margin-top: 40px;
    height: calc(100% - 80px);
}

.foreground-centered {
    justify-content: center;
    align-items: center;
}

.foreground-centered .dialog {
    margin-top: 0;
}

.spinner-container {
    width: 100%;
}


.spinner {
    /*border: 3px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid var(--gray-dark);*/
    /*border-radius: 50%;*/
    /*width: 12px;
    height: 12px;*/
    background: linear-gradient(270deg, var(--primary), var(--light));
    background-size: 400% 400%;
    width: 100%;
    height: 5px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0% 50%
    }
}


.dialog {
    background-color: var(--light);
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

.dialog-header {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    align-content: center;
}

.dialog-header-content {
    display: flex;
    flex-grow: 1;
}

.dialog-header-content .search-box {
    padding: 15px;
    flex-grow: 1;
}

.dialog-header-content h1 {
    padding: 20px;
    margin: 0;
    font-size: 12pt;
    font-weight: normal;
}

.dialog-header .spinner-container {
    /*
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;*/
}

.dialog-close {
    padding: 15px;
    font-size: 14pt;
    cursor: pointer;
    color: var(--gray);
}

.dialog-close:hover {
    color: var(--gray-dark);
}

.dialog-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display: flex;
}

.dialog-body-padded {
    padding: 15px;
}

.dialog-header {
    height: 60px;
    overflow: hidden;
}

.dialog-body {
    height: calc(100% - 107px);
    overflow: hidden;
}

.dialog-body .form {
    /*margin: 15px;*/
}

.dialog-footer {
    height: 47px;
    overflow: hidden;
}

.dialog-status {
    text-align: center;
}



.tile {
    
    border-radius: var(--border-radius);
    background-color: var(--white);
    margin-bottom: 15px;
}

.tile .tile-title {
    padding: 5px 15px 5px 15px;
    margin: 0;
    font-size: 10pt;
    /*border-bottom: solid 1px var(--border);*/
    border: solid 1px var(--border);
    background-color: var(--border);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.tile .tile-body {
    /*padding: 5px 15px 5px 15px;*/
    border: solid 1px var(--border);
    border-top: none;
    padding: 0px;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.accordion {

}

.accordion ul.root-list {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    list-style: none;
}

.accordion ul li.root-item {
    background-color: var(--light);
    border-bottom: solid 1px var(--border);
}

.accordion ul li.next-item {
    padding: 5px 15px 5px 15px;
    color: grey;
    font-style: italic;
    cursor: pointer;
}

.accordion ul li.spinner-item {
    /*
    padding: 5px 15px 5px 15px;*/
    padding-bottom: 5px;
}

.accordion ul li.root-item:last-child {
    border-bottom: none;
}

.tile .accordion ul li.root-item:last-child {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.accordion ul li.root-item:hover {
    background-color: var(--hover);
}

.accordion ul li.root-item-selected {
    background-color: var(--primary);
    color: var(--light);
}

.accordion li.root-item .root-item-head {
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.accordion li.root-item .root-item-body {
    padding: 5px 15px 5px 15px;
    background-color: white;
    border-top: solid 1px var(--border);
}

.tile .accordion ul li.root-item:last-child .root-item-body {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.accordion li.root-item .root-item-body .error {
    margin: 0;
    font-style: italic;
    color: grey;
}

.wizard {
    width: 700px;
}

.wizard .dialog-body {
    display: flex;
    flex-direction: row;
}

.wizard .dialog-body .wizard-page {
    width: 100%;
    display: block;
}

.wizard-page {
    padding: 15px;
}

.wizard-page h1 {
    font-size: 12pt;
}



@media only screen and (max-width: 768px) {
    .foreground, .foreground-centered {
        background-color: var(--light);
    }

    .foreground .dialog {
        margin-top: 0;
    }

    .foreground-centered {
        align-items: unset;
    }

    .dialog {
        border: none;
        border-radius: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .dialog .dialog-body-padded {
        flex-grow: 0 !important;
    }

    .dialog-header {
        /*border: none;*/
        height: 60px;
    }

    .dialog-body {
        display: flex;
        flex-direction: column;
        height: calc(100% - 107px);
    }

    .dialog-footer {
        /*border: none;*/
        height: 47px;
    }
    
    

    .splitter-row .pane1 {
        display: none !important;
        width: 100% !important;
    }
    .splitter-row .pane2 {
        display: none !important;
        width: 100% !important;
    }
    .splitter-row .active-pane {
        display: flex !important;
        height: 100%;
        flex-direction: column;
    }
    .resizer {
        display: none !important;
    }
}
